<app-bookshelf *ngIf="pageDisplayed === 'bookshelf'"></app-bookshelf>
<hr />
<app-library *ngIf="pageDisplayed === 'library'"></app-library>
<div class="container">
  <div class="row">
    <div class="col-md-10 mx-auto">
      <h1>BookIt</h1>
    </div>
  </div>
</div>
<div class="container">
  <app-navigation></app-navigation>
  <!-- ... -->
</div>
<div class="container">
  <app-navigation (currentPage)="onNavigatePage($event)"></app-navigation>
  <app-navigation></app-navigation>
  <div class="row">
    <div class="col-md-10 mx-auto">
      <app-bookshelf></app-bookshelf>
      <hr />
      <app-library></app-library>
    </div>
  </div>
</div>
